@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    padding: 10px 20px 20px 20px;
}
body{
    background-image: url(wallpaperflare.com_wallpaper\ \(5\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nav{
    position: absolute;
    top: 15px;
    left: 20px;
    height: 70px;
    width: 1450px;
    border-radius: 19px;
    backdrop-filter: blur(16px);
}
.login{
    position: absolute;
    top:230px ;
    left:570px ;
    width: 300px;
    height: 330px;
    background: transparent;
    backdrop-filter: blur(16px);
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 100px 20px 20px 20px;
    color: white;
}

  input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    opacity: 0;
     animation: zoomIn 1s ease forwards;
     animation-delay: 1s;
  }
  input[type=password]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    opacity: 0;
     animation: zoomIn 1s ease forwards;
     animation-delay: 1s;
  }
  .rd{
    background-color:rgb(15, 182, 15);
    width: 300px;
    height:45px ;
    color: white;
    border-radius: 5px;
    border: 0.1px solid black;
    opacity: 0;
      animation: zoomIn 1s ease forwards;
      animation-delay: 1s;
 }
 .rd:hover{
    background-color: rgb(20, 146, 20);
}
nav a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.8s * var(--i));
}
.logo{
   justify-content: space-between;
   display: flex;
}
.hed{
    font-size: 45px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;  
}
nav a:hover{
    color: rgb(10, 255, 194);
}
.heder{
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background: transparent;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.reg{
    position: absolute;
    top:600px ;
    left:560px ;
    color: white;
    opacity: 0;
     animation: zoomIn 1s ease forwards;
     animation-delay: 1s;
}
.reg a{
    text-decoration: none;
    color: rgb(30, 85, 251);
    font-weight: 700;
}
.reg a:hover{
    color:rgb(25, 63, 177) ;
}
.ll{
    position: absolute;
    top: 220px;
    left: 670px;
    font-size: 35px;
    font-weight: 900;
    color: white;
    opacity: 0;
     animation: zoomIn 1s ease forwards;
     animation-delay: 1s;
}
.pas a{
    text-decoration: none;
    position: absolute;
    top: 525px;
    left: 670px;
    font-size: 14px;
    color: rgb(30, 85, 251);
    font-weight: 700;
    opacity: 0;
     animation: zoomIn 1s ease forwards;
     animation-delay: 1s;
}
.pas a:hover{
    color:rgb(25, 63, 177) ;
}
.des{
    position: absolute;
    top: 720px;
    left: 530px;
    font-size: 16px;
    color: white;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2s;
}
.des span{
    color: rgb(29, 216, 154);
    padding: 10px 10px;
}

@keyframes slideRight {
    0%{
       transform: translateX(-100px); 
       opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX();
        opacity: 0;
    }
    100%{
        transform: translateX();
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
       transform: translateY(100px); 
       opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
       transform: translateY(-100px); 
       opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
       transform: translateX(100px); 
       opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0%{
       transform: scale(0); 
       opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.lab{
    opacity: 0;
     animation: zoomIn 1s ease forwards;
     animation-delay: 1s;
}
.lab1{
    opacity: 0;
     animation: zoomIn 1s ease forwards;
     animation-delay: 1s;
}
.wr{
    position: absolute;
    left: 580px;
    top: 275px;
    color: rgb(255, 94, 7);
    font-size: 14px;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 1s;
}